node_modules/
dist/
*.log
*.err
.env
deploy.json
*.tar.gz
package-lock.json
bowling-alley.tar.gz
bowling alley 3.jpg
diagram bowling alley 2.jpg
digram bowling alley 1.jpg
bowling-actor-process.jsx
bowling-arch.jsx
bowling-journey.jsx
hivemind.nginx.conf
